<form action="/<%= lash._id %>/edit" method="post">
   Name: <input type="text" name="name" value=<%=lash.name %>><br>
   Category: <input type="text" name="category" value=<%=lash.category %>><br>
   Cost Price: <input type="text" name="price" value=<%=lash.price %>><br>
   Quantity: <input type="text" name="quantity" value=<%=lash.quantity %>><br>
   Description: <input type="text" name="description" value=<%=lash.description %>><br>

   <input type="submit">
</form>
