<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/" method="post">
       Name: <input type="text" name="name"><br>
       Category: <input type="text" name="category"><br>
       Price: <input type="text" name="price"><br>
       Quantity: <input type="text" name="quantity"><br>
       Description: <input type="text" name="description"><br>
       Image: <input type="text" name="image"><br>

       <input type="submit">
    </form>

    <ul>
      <% alllashes.forEach(lash => { %>
        <li>Name: <%= lash.name %> </br>
        Category: <%= lash.category %></br>
        Cost Price: <%= lash.price %> </br>
        Quantity: <%= lash.quantity %> </br>
        Description: <%= lash.description %> </br>
        Image Url: <%= lash.image %> </li>
         <a href="/<%= lash._id %>/edit">Edit</a>
        <form action="/<%= lash._id %>/delete" method="post">
          <input type="submit" value="delete">
        </form>
      <% }) %>
    </ul>

  </body>
</html>
